<a href="https://colab.research.google.com/github/nathantthai/SFL-SDE/blob/main/main.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#!/usr/bin/env python3
__author__ = "Nathan Thai"
__email__ = "nathantthai@gmail.com"
__phone__ = "832-528-7224"

# Section 1

---
# Section 2

Importing modules

In [45]:
import pandas as pd
!pip install pymongo
import pymongo # often, this will need to be pip installed in, see line above

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pyodbc in /usr/local/lib/python3.9/dist-packages (4.0.39)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pymongo
  Downloading pymongo-4.3.3-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (492 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 492.1/492.1 kB 8.8 MB/s eta 0:00:00
Collecting dnspython<3.0.0,>=1.16.0
  Downloading dnspython-2.3.0-py3-none-any.whl (283 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 283.7/283.7 kB 23.6 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.3.0 pymongo-4.3.3

Setting up MongoDB with Python

In [46]:
# Establishing a MongoClient Object, which is a MongoDB instance in the system
client = pymongo.MongoClient("mongodb+srv://cluster0.rqb9xp1.mongodb.net/?authSource=%24external&authMechanism=MONGODB-X509&retryWrites=true&w=majority") #@param {type:"string"}

# Establishing a database within the instance
db = client['SFL_SDE_evaluation_nathan']

Creating a database



Reading in the csv with pandas

In [ ]:
#@markdown ###Enter CSV path
csv_url = '/content/SRDataEngineerChallenge_DATASET.csv' #@param {type:"string"}

#Using read_csv function from pandas to read in the csv
df = pd.read_csv(csv_url)

# a quick preview what the dataframe looks like
df.head()

,id,first_name,last_name,email,gender,ip_address
0,1,Margaretta,Laughtisse,mlaughtisse0@mediafire.com,Genderfluid,34.148.232.131
1,2,Vally,Garment,vgarment1@wisc.edu,Bigender,15.158.123.36
2,3,Tessa,Curee,tcuree2@php.net,Bigender,132.209.143.225
3,4,Arman,Heineking,aheineking3@tuttocitta.it,Male,157.110.61.233
4,5,Roselia,Trustie,rtrustie4@ft.com,Non-binary,49.55.218.81

The number of unique genders

In [ ]:
unique_gender = df.gender.unique() # calling the unique() function from pandas
len(unique_gender) # obtaining the len of it

8

The number of entry by gender, sorted from least to most

In [ ]:
#@markdown ###The result is a series but table presents nicely in dataframe <code>.to_frame()
df.groupby('gender').size().sort_values().to_frame()

               0
gender
Non-binary   113
Polygender   118
Bigender     119
Agender      120
Male         129
Genderqueer  130
Female       131
Genderfluid  140

Converting the dataframe into a dictionary

In [49]:
df

,id,first_name,last_name,email,gender,ip_address
0,1,Margaretta,Laughtisse,mlaughtisse0@mediafire.com,Genderfluid,34.148.232.131
1,2,Vally,Garment,vgarment1@wisc.edu,Bigender,15.158.123.36
2,3,Tessa,Curee,tcuree2@php.net,Bigender,132.209.143.225
3,4,Arman,Heineking,aheineking3@tuttocitta.it,Male,157.110.61.233
4,5,Roselia,Trustie,rtrustie4@ft.com,Non-binary,49.55.218.81
...,...,...,...,...,...,...
995,996,Roxana,Prandi,rprandirn@ox.ac.uk,Agender,227.67.205.244
996,997,Matthus,Chadwin,mchadwinro@hibu.com,Female,189.120.124.155
997,998,Artur,Fairbanks,afairbanksrp@live.com,Bigender,246.169.244.242
998,999,Amalee,Bingall,abingallrq@yandex.ru,Genderqueer,16.201.179.189
999,1000,Gunther,Karlik,gkarlikrr@smh.com.au,Genderfluid,0.14.221.255

---
# Section 3