<a href="https://colab.research.google.com/github/nathantthai/SFL-SDE/blob/main/main.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#!/usr/bin/env python3
__author__ = "Nathan Thai"
__email__ = "nathantthai@gmail.com"
__phone__ = "832-528-7224"

# Section 1

---
# Section 2

Importing modules

In [ ]:
import pandas as pd
!pip install pyodbc
import pyodbc # often, this will need to be pip installed in, see line above
import seaborn as sns
%matplotlib

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pyodbc in /usr/local/lib/python3.9/dist-packages (4.0.39)
Using matplotlib backend: <object object at 0x7f18f4a3fc10>

Setting up pyodbc

In [ ]:
pyodbc.drivers()
connection = pyodbc.connect()

TypeError: ignored



Reading in the csv with pandas

In [ ]:
#@markdown ###Enter CSV path
csv_url = '/content/SRDataEngineerChallenge_DATASET.csv' #@param {type:"string"}

#Using read_csv function from pandas to read in the csv
df = pd.read_csv(csv_url)

# a quick preview what the dataframe looks like
df.head()

,id,first_name,last_name,email,gender,ip_address
0,1,Margaretta,Laughtisse,mlaughtisse0@mediafire.com,Genderfluid,34.148.232.131
1,2,Vally,Garment,vgarment1@wisc.edu,Bigender,15.158.123.36
2,3,Tessa,Curee,tcuree2@php.net,Bigender,132.209.143.225
3,4,Arman,Heineking,aheineking3@tuttocitta.it,Male,157.110.61.233
4,5,Roselia,Trustie,rtrustie4@ft.com,Non-binary,49.55.218.81

The number of unique genders

In [ ]:
unique_gender = df.gender.unique() # calling the unique() function from pandas
len(unique_gender) # obtaining the len of it

8

The number of entry by gender, sorted from least to most

In [ ]:
#@markdown ###The result is a series but table presents nicely in dataframe <code>.to_frame()
df.groupby('gender').size().sort_values().to_frame()

               0
gender
Non-binary   113
Polygender   118
Bigender     119
Agender      120
Male         129
Genderqueer  130
Female       131
Genderfluid  140